<!DOCTYPE html>
<html>
	<head>
		<title>RESTular</title>
		<meta charset="utf-8">
		<!-- stylesheets -->
		<link rel="stylesheet" href="stylesheets/normalize.css">
		<link rel="stylesheet" href="stylesheets/RESTular.css">
		<!-- resources -->
		<link rel="shortcut icon" href="resources/favicon.ico" type="image/x-icon">
		<!-- libraries -->
		<script type="text/javascript" src="libraries/ZeroClipboard.js"></script>
		<!-- jquery -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
		<script type="text/javascript" src="js/restularJQuery.js"></script>
		<!-- angular resources -->
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-sanitize/1.5.3/angular-sanitize.min.js"></script>
		<script src="https://cdn.rawgit.com/dreamerslab/node.inflection/master/inflection.min.js"></script>
		<script src="http://konsumer.github.io/ngInflection/dist/ngInflection.min.js"></script>
		<!-- angular app -->
		<script type="text/javascript" src="js/restularApp.js"></script>
		<script type="text/javascript" src="js/templates.js"></script>
		<script type="text/javascript" src="js/controllers/TableCtrl.js"></script>
		<script type="text/javascript" src="js/filters/restularFilters.js"></script>
		<script type="text/javascript" src="js/directives/bindHtmlCompile.js"></script>
		<script type="text/javascript" src="js/modules/angular-zeroclipboard.js"></script>
		<!-- End scripts -->
	</head>
	<body ng-app="restularIndex" ng-controller="TableCtrl">
		<header>
			<h1>/REST<span id="second-half">ular</span></h1>
			<p>A Sinatra routing resource.</p>
		</header>
			<div id="wrapper">
				<div id="golden-form">
					<form id="resource-input">
						<input ng-model="resource" id="base-route" size="50" value="articles">
						<input ng-model="nestedResource" id="nested-route" placeholder="(nested resource)">
					</form>
				</div>
				<div class="sub-box-under">(Type in your table names and <b>click the table below</b> for full route info)</div>
				<div id="route-container">
					<table>
						<thead>
							<tr>
								<th>HTTP Request Type</th>
								<th>URL Path</th>
								<th>View File</th>
								<th>Description</th>
							</tr>
						</thead>

						<tbody id="route-body">
							<tr ng-repeat-start="route in routes" ng-click="showSuggestions = ! showSuggestions" class='hover'>
								<td bind-html-compile="route.type"></td>
								<td bind-html-compile="route.path"></td>
								<td bind-html-compile="route.viewFile"></td>
								<td bind-html-compile="route.description"></td>
							</tr>
							<tr ng-repeat-end class='route-info' ng-show="showSuggestions">
								<td colspan='2'>
									<span class='temp-header'>Path template:</span>
										<pre class='route-pre' ui-zeroclip zeroclip-text='{{ interpolate(route.vanilla) }}' bind-html-compile="route.vanilla"></pre>
									<span class='indicate-copy'>(click to copy)</div>
								</td>
								<td colspan='2'>
									<span class='temp-header'>Simple example:</span>
										<pre class='route-pre' ui-zeroclip zeroclip-text='{{ interpolate(route.suggested) }}' bind-html-compile="route.suggested"></pre>
									<span class='indicate-copy'>(click to copy)</div>
								</td>
							</tr >
						</tbody>
					</table>				
				</div>
				<div id="push">
					<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
					<!-- restular_leaderboard -->
					<ins class="adsbygoogle"
					     style="display:inline-block;width:728px;height:90px"
					     data-ad-client="ca-pub-6029463451734367"
					     data-ad-slot="3994045336"></ins>
					<script>(adsbygoogle = window.adsbygoogle || []).push({});</script>
				</div>
			</div>
		<footer>
			<a id="white-link" href="about.html">About RESTular</a>
			<p>Created by George Wambold</p>
			<p><a href="https://github.com/georgewambold" target="_blank">GitHub</a> | <a href="https://www.linkedin.com/in/georgewambold" target="_blank">LinkedIn</a></p>
		</footer>

		<script>
		  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		  ga('create', 'UA-72194385-1', 'auto');
		  ga('send', 'pageview');
		</script>
		
	</body>
</html>
