<!DOCTYPE html>
<html>
	<head>
		<title>RESTular</title>
		<meta charset="utf-8">
		<link rel="stylesheet" href="stylesheets/normalize.css">
		<link rel="stylesheet" href="stylesheets/RESTular.css">
		<script type="text/javascript" src="libraries/pluralize.js"></script>
		<link rel="shortcut icon" href="resources/favicon.ico" type="image/x-icon">
		<script type="text/javascript" src="libraries/ZeroClipboard.js"></script>
		<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-sanitize/1.5.3/angular-sanitize.min.js"></script>
		<script src="https://cdn.rawgit.com/dreamerslab/node.inflection/master/inflection.min.js"></script>
		<script src="http://konsumer.github.io/ngInflection/dist/ngInflection.min.js"></script>
		<script type="text/javascript" src="js/RESTular.js"></script>
		<script type="text/javascript" src="js/filters.js"></script>
		<script type="text/javascript" src="js/restularApp.js"></script>
		<script type="text/javascript" src="js/templates.js"></script>
		<script type="text/javascript" src="js/TableRows.js"></script>
	</head>
	<body ng-app="Restular" ng-controller="TableCtrl"  data-ng-init="init()">
		<header>
			<h1>/REST<span id="second-half">ular</span></h1>
			<p>A Sinatra routing resource.</p>
		</header>
			<div id="wrapper">
				<div id="golden-form">
					<form id="resource-input">
						<input ng-model="resource" ng-change="updateResourceVars()" id="base-route" size="50" value="articles">
						<input ng-model="nestedResource" ng-change="updateResourceVars()" id="nested-route" placeholder="(nested resource)">
					</form>
				</div>
				<div class="sub-box-under">(Type in your table names and <b>click the table below</b> for full route info)</div>
				<div id="route-container">
					<table>
						<thead>
							<tr>
								<th>HTTP Request Type</th>
								<th>URL Path</th>
								<th>View File</th>
								<th>Description</th>
							</tr>
						</thead>
						<tbody id="route-body">
							<tr ng-repeat-start="singularRoute in singularRoutes" class='route'>
								<td bind-html-compile="singularRoute.type"></td>
								<td bind-html-compile="singularRoute.path"></td>
								<td bind-html-compile="singularRoute.viewFile"></td>
								<td bind-html-compile="singularRoute.description"></td>
							</tr>
							<tr ng-repeat-end class='route-info'>
								<td colspan='2'>
									<span class='temp-header'>Path Template:</span>
									<pre class='route-pre' bind-html-compile="singularRoute.vanilla"></pre>
									<div class='copy-prompt'>^click to copy^</div>
								</td>
								<td colspan='2'>
									<span class='temp-header'>Suggestions:</span>
									<span class='header-caption'> (to be taken with a grain of salt)</span>
									<pre class='route-pre' bind-html-compile="singularRoute.suggested"></pre>
									<div class='copy-prompt'>^click to copy^</div>
								</td>
							</tr >
						</tbody>
					</table>
				</div>
				<div id="push"></div>
			</div>
		<footer>
			<p>Created by <a href="https://www.linkedin.com/in/georgewambold">George Wambold</a></p>
			<p><a href="https://twitter.com/georgewambold">Follow me on twitter!</a></p>
		</footer>

		<script>
		  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		  ga('create', 'UA-72194385-1', 'auto');
		  ga('send', 'pageview');
		</script>
		
	</body>
</html>
