.header {
	height: 150px;
}

.route-container {
  margin: 0 auto;
  border: 2px solid #CCC;
  background: #FFF;
  border-collapse: collapse;
  border-spacing: 0;
}

.route-container table {
	  text-align: left;
}

.route-info {
	/*display: none;*/
}

